@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$ketchup-color: #982B1D;
$mainfont-color: #735146;
$grey-color: #A6A6A6;
$first-fam: Andale Mono, monospace;


header {
  margin-bottom: 2em;
}


// SCSS examples: VARIABLES

.highlights {
  padding: 3em;
  background-color: $ketchup-color;
  color: white;
}
body {
  color: $mainfont-color;
  font-family: $first-fam;
}

// SCSS examples: NESTING
section {
  h3 {
    text-align: center;
  }

  margin-bottom: 4em;
}
nav {
  a{
    color: black;
    font-size: x-large;
  }
  a:hover {
    color: white;
  }
}

// SCSS examples: Mixins
@mixin navFooter($color){
  background-color: $color;
  padding-top: 2em;
  color: black;
}
nav {
  @include navFooter($grey-color);
  padding-bottom: 2em;

}
footer {
  @include navFooter($ketchup-color);
  padding-bottom: 4em;
  text-align: center;
  color: white;
}



// SCSS examples: Extends/Inheritance

.nav-link, .navbar{
  @extend .highlights;
  padding: 1em;
}

// SCSS examples: Operator

$height: 100%;
.carousel-control-prev-icon {
  height: $height / 2;
}

// SCSS examples: Interpolation

@mixin interpolation($fontcolor, $fontsize, $paddingtop, $paddingbottom)
{
    color: $fontcolor;
    font-size: $fontsize;
    #{$paddingtop}: 2px;
    #{$paddingbottom}: 2px;
}

.nav-link{
    @include interpolation(white, 20px, top, bottom);
}



// Any Sass/SCSS technique of your choice, not already covered.
